[Desktop Entry]
Name=Mini Fighter
GenericName=Simple Fighter Game
Comment=Fight 2D Characters
Categories=Games;
Exec=mini-fighter
Icon=mini-fighter
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=mini-fighter
